html {
    box-sizing: border-box;
    font-size: 10px;
    text-align: center;
}
*, *:before, *:after {
    box-sizing: inherit;
}
input {
    border-style: none;
    background: transparent;
    outline: none;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
}

#main-title {
    font-size: 60px;
    color: #bfd2ff;
    margin-bottom: 5px;
}
#sub-title {
    font-size: 20px;
    color: #838eb4;
    margin-bottom: 8rem;
}

.demo-flex-spacer-top {
    height: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 2000px;
    padding: 0 30px;
    margin: 0 auto;
    height: auto;
}

@keyframes gradient {
    0% {
        background-position: 0 0;
   }
    100% {
        background-position: 100% 0;
   }
}

.webflow-style-input {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 1.4rem 2rem 1.6rem;
    background: rgba(57, 63, 84, 0.8);
    margin-right: 10px;
}
.webflow-style-input:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 3px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #b294ff, #57e6e6, #feffb8, #57e6e6, #b294ff, #57e6e6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
}
.webflow-style-input input {
    flex-grow: 2;
    color: #bfd2ff;
    font-size: 1.8rem;
    line-height: 2.4rem;
    vertical-align: middle;
}
.webflow-style-input input::-webkit-input-placeholder {
    color: #7881a1;
}
.webflow-style-input {
    color: #7881a1;
    font-size: 2.4rem;
    line-height: 2.4rem;
    vertical-align: middle;
    transition: color 0.25s;
}
.webflow-style-input {
    color: #bfd2ff;
}

.submit_button {
    border: solid #7881a1;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    margin-top: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 15px !important;
    height: 15px !important;
}
.submit_button:hover {
    border: solid #bfd2ff;
    border-width: 0 3px 3px 0;
    cursor: pointer;
}

#contents {
    padding: 30px 0 30px 0;
    margin: 10px 0 10px 0;
    color: #bfd2ff;
    text-align: left;
}

.card:hover, .card:hover .card--hover a {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.25);
}
.card {
    -webkit-box-flex: 300px;
    -ms-flex: 300px;
    flex: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #7881a159;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease;
}
.card:hover {
    border-color: #7fefbd;
}
.card:hover .card--hover {
    opacity: 1;
}
.card:hover .card--hover a {
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    opacity: 1;
}
.card--hover {
    padding: 20px 0;
    text-align: center;
    opacity: 0.6;
    transition: 0.25s ease;
}
.card--hover h3 {
    font-size: 2.4rem;
    margin: 0;
}
.card--hover p {
    margin: 10px 0 0;
    font-size: 1.8rem;
}
.card--hover a {
    -webkit-transform: translate(-50%, 125%);
    -ms-transform: translate(-50%, 125%);
    transform: translate(-50%, 125%);
    border-radius: 20px;
    background-color: #7fefbd;
    color: #000;
    font-weight: bold;
    padding: 8px 16px;
    font-size: 1.5rem;
    display: inline-block;
    text-decoration: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.25s ease;
}

.loading-div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
.loading {
    position: relative;
    color: #7fefbd;
    font-size: 4em;
    letter-spacing: 10px;
    border-bottom: 16px solid #333;
    line-height: 1.5;
    font-family: consolas;
    text-transform: uppercase;
}
.loading::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #7fefbd;
    border-bottom: 16px solid #7fefbd;
    animation: lod 2s linear infinite;
    overflow: hidden;
}
@keyframes lod {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}  

.footer {
    border-top: 1px solid #7881a159;
    margin: 0px 20px 0px 20px;
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    color: #7881a159;
}



